<table class="table table-bordered">
  <tbody>
    <tr>
      <td><strong>Average</strong>: {{ average.value }} °C</td>
      <td><strong>Highest</strong>: {{ max.value }} °C</td>
      <td><strong>Lowest</strong>: {{ min.value }} °C</td>
      <td><strong>Median</strong>: {{ median.value }} °C</td>
    </tr>
  </tbody>
</table>
