<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Temperature</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let temperature of temperatures">
      <td>{{ temperature.date | date: 'MMM d, y'}}</td>
      <td>{{ temperature.value }} °C</td>
      <td><button (click)="deleting.emit({id: temperature.id})" class="btn btn-danger" type="button">Delete</button></td>
    </tr>
  </tbody>
</table>
