<form class="form-inline">
  <div class="form-group">
    <input name="value" [(ngModel)]="new_temperature.value" #value="ngModel" type="number" min="-70" max="70" required autofocus>
  </div>
  <button (click)="save()" class="btn btn-primary">Add Temperature</button>
</form>


<app-w-stats [average]="average" [median]="median" [max]="max" [min]="min"></app-w-stats>

<app-w-data [temperatures]="temperatures" (deleting)="delete($event)"></app-w-data>
